$clr-background: #f5f5f5;
$clr-grey: #999;
$clr-main: #212121;

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  font-size: 0.9rem;

  .toggle__menu {
    position: absolute;
    right: 1.2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;

    .bar {
      height: 3px;
      width: 100%;
      background-color: $clr-main;
      border-radius: 0.2rem;
    }
  }

  .navbar__icon {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      transition: all ease 0.6s;
      &:hover {
        filter: drop-shadow(0px 0px 10px #212121);
      }
    }

    .icon__text {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  nav {
    flex: 2;
    display: flex;
    justify-content: space-between;

    .navbar__list {
      font-weight: 400;
      color: $clr-grey;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 4vw;

      li {
        position: relative;
        list-style: none;
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: $clr-main;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }

  .navbar__login {
    background-color: $clr-main;
    color: #f5f5f5;
    cursor: pointer;

    &:hover {
      border: 1px solid $clr-main;
      background-color: $clr-background;
      color: $clr-main;
    }
  }
}

@media (width < 768px) {
  .navbar {
    .toggle__menu {
      display: flex;
    }

    nav {
      display: none;

      &.menu {
        display: flex;
        gap: 1rem;
        position: absolute;
        top: 3.5rem;
        right: 1rem;
        z-index: 1;
        width: 50%;
        height: max-content;
        background-color: $clr-main;
        border-radius: 0.4rem 0 0.4rem 0.4rem;
        padding: 1.5rem;

        flex-direction: column;

        .navbar__login {
          text-align: center;
        }

        .navbar__list {
          flex-direction: column;

          li {
            &:hover::after {
              transform: scaleX(1);
              transform-origin: bottom left;
              background-color: $clr-background;
            }
          }
        }
      }
    }
  }
}
